.profile {
    width: 100%;
    padding: 0 0 70px;

    &__content {
        max-width: 834px;
        
    }

    &__title {       
        margin-bottom: 20px;
    }

    &__settings {
        display: flex;        
        align-items: top;
        justify-content: center;
    }
}

.settings {

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 43px;
    }

    &__img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-color: #F0F0F0;

        & img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    &__change-photo {
        margin-top: 10px;
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #009EE4;
    }

    &__right {
        width: 630px;
    }

    &__div {
        display: inline-block;
        margin: 0 7px 20px;
    }

    &__form {
        width: 630px;
        display: flex;
        flex-wrap: wrap;


        & input {
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            padding: 13px 19px;

            &::placeholder {
                background-color: transparent;
                color: rgba(0, 0, 0, 0.3);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }

        & label {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #C4C4C4;
            margin-bottom: 4px;
            display: block;
        }
    }

    &__f-name,
    &__l-name,
    &__city {
        width: 300px;
    }

    &__phone {
        width: 614px;
    }

    &__btn {
        font-size: 16px;
        line-height: 1;
        color: #FFFFFF;
        width: 154px;
        height: 50px;
        margin: 10px 7px 0;

        background-color: #009EE4;
        border-radius: 6px;
        border: 1px solid #009EE4;
    }
}

@media screen and (max-width:890px) {
    .main {
    
        &__container {
            padding: 85px 0px 84px;
        }

        &__center-block {
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .profile {
    
        &__content {
            max-width: 834px;
            width: 100%;
        }

        &__settings {                
            flex-wrap: wrap;                
        }
    }      
}

@media screen and (max-width: 620px) {
    .profile {
        width: 100%;
        padding: 0 0 40px;
    }

    .settings {

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0;
        }

        &__img {
            width: 132px;
            height: 132px;

        }

        &__right {
            width: 100%;
        }

        &__div {
            display: inline-block;
            margin: 0 0px 18px;
        }

        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;


            & input {
                border-radius: 30px;
                padding: 9px 17px;

                &::placeholder {
                    font-size: 14px;
                    line-height: 21px;
                }
            }

            & label {
                font-size: 14px;
                line-height: 21px;
                color: #C4C4C4;
                margin-bottom: 6px;

            }
        }

        &__f-name,
        &__l-name,
        &__city {
            width: 100%;
        }

        &__phone {
            width: 100%;
        }

        &__btn {
            font-size: 16px;
            line-height: 1;
            width: 100%;
            height: 46px;
            margin: 8px 0px 0;
        }
    }
}