.profile {
  width: 100%;
  padding: 0 0 70px;
}
.profile__content {
  max-width: 834px;
}
.profile__title {
  margin-bottom: 20px;
}
.profile__settings {
  display: flex;
  align-items: top;
  justify-content: center;
}

.settings__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 43px;
}
.settings__img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #F0F0F0;
}
.settings__img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.settings__change-photo {
  margin-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #009EE4;
}
.settings__right {
  width: 630px;
}
.settings__div {
  display: inline-block;
  margin: 0 7px 20px;
}
.settings__form {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
}
.settings__form input {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 13px 19px;
}
.settings__form input::-moz-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.settings__form input::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.settings__form label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #C4C4C4;
  margin-bottom: 4px;
  display: block;
}
.settings__f-name, .settings__l-name, .settings__city {
  width: 300px;
}
.settings__phone {
  width: 614px;
}
.settings__btn {
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  width: 154px;
  height: 50px;
  margin: 10px 7px 0;
  background-color: #009EE4;
  border-radius: 6px;
  border: 1px solid #009EE4;
}

@media screen and (max-width: 890px) {
  .main__container {
    padding: 85px 0px 84px;
  }
  .main__center-block {
    margin: 0 auto;
    padding: 0 20px;
  }
  .profile__content {
    max-width: 834px;
    width: 100%;
  }
  .profile__settings {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    width: 100%;
    padding: 0 0 40px;
  }
  .settings__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .settings__img {
    width: 132px;
    height: 132px;
  }
  .settings__right {
    width: 100%;
  }
  .settings__div {
    display: inline-block;
    margin: 0 0px 18px;
  }
  .settings__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .settings__form input {
    border-radius: 30px;
    padding: 9px 17px;
  }
  .settings__form input::-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
  }
  .settings__form input::placeholder {
    font-size: 14px;
    line-height: 21px;
  }
  .settings__form label {
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
    margin-bottom: 6px;
  }
  .settings__f-name, .settings__l-name, .settings__city {
    width: 100%;
  }
  .settings__phone {
    width: 100%;
  }
  .settings__btn {
    font-size: 16px;
    line-height: 1;
    width: 100%;
    height: 46px;
    margin: 8px 0px 0;
  }
}/*# sourceMappingURL=profile-info.css.map */