.article {

    &__right {
        max-width: 621px;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__info {
        margin-bottom: 34px;
    }

    &__date,
    &__city {
        font-size: 16px;
        line-height: 21px;
        color: #5F5F5F;
        margin-bottom: 4px;
    }
    &__link {
        font-size: 16px;
        line-height: 21px;
        color: #009EE4;              
    }

    &__price {
        font-size: 28px;
        line-height: 39px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__btn {
        background-color: #009EE4;
        border-radius: 6px;
        border: 1px solid #009EE4;
        width: 214px;
        height: 62px;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
         & span {
            display: block;
            font-size: 14px;
            font-weight: 400;
         }      
    }

    &__author {
        margin-top: 34px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}


.author {

    &__img {
        width: 40px;
        height: 40px;
        background-color: #F0F0F0;
        border-radius: 50%;

        & img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
    }

    &__cont {
        margin-left: 12px;
    }

    &__name {
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        color: #009EE4;
    }

    &__about {
        font-size: 16px;
        line-height: 32px;
        color: #5F5F5F;
    }
}

.btn-redact {
    width: 189px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-remove{
    width: 225px;
}

@media screen and (max-width: 966px) {

    .btn-redact {
        width: 225px;
        margin-right: 0;
    }

    .btn-remove {
        width: 225px;
    }
}

@media screen and (max-width: 768px) {
    .article {

        &__right {
            max-width: 100%;
            width: 100%;
            padding: 0 20px;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__info {
            margin-bottom: 20px;
        }

        &__date,
        &__city {
            font-size: 14px;
            line-height: 17px;
            color: #5F5F5F;
            margin-bottom: 4px;
        }

        &__link {
            font-size: 14px;
            line-height: 19px;
            color: #009EE4;
        }

        &__price {
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__btn {
            width: 100%;
            height: 57px;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;

            & span {
                font-size: 12px;
            }
        }

        &__author {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .author {
        &__name {
            font-size: 18px;
            line-height: 23px;
            font-weight: 600;
        }

        &__about {
            font-size: 14px;
            line-height: 28px;
        }
    }
}